body {font-family: sans-serif;}
.step1 {font-size: 21px; border-style: solid; border-width: 1px; border-color: #6D6E70; width: 265px; text-align: center; padding-top: 9px; padding-bottom: 9px;
}
.step2 {font-size: 21px; border-style: solid; border-width: 1px; border-color: #6D6E70; width: 265px; text-align: left; padding-top: 9px; padding-bottom: 9px;}
.step3 {font-size: 21px; border-style: solid; border-width: 1px; border-color: #6D6E70; width: 265px; text-align: left; padding-top: 9px; padding-bottom: 9px;}
input {background-color: white; margin: 15px; border-width: 1px; height: 35px; width: 234px;}
.step4 {font-size: 21px; height: 87px; border-style: solid; border-width: 1px; border-color: #6D6E70; width: 265px; text-align: center; padding-top: 9px; padding-bottom: 9px;}
button {background-color: #CAC8C4; font-size: 20px; font-color: #414042; margin-top: 10px; border-width: 0px; float: right; margin-right: 10px; width: 98px; height: 36px;}
